<!DOCTYPE html>
<html>
<head>
    <title>Food Buddy</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="https://financialtribune.com/sites/default/files/field/image/17january/12_fda.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

</head>
<body ng-app="postApp" ng-controller="postController">
    <div class="container">
        <h1><center><font size="40">Food Buddy</font></center></h1>
		<div> <center>Hello!  Welcome to Singapore, home to a bewildering range of Asian cuisines. </center></div>
		<div> <center>Not sure where to start?  </center></div>
		<div> <center>Fret not, just let your <b> Food Buddy </b> guide you to the best hawker food! </center></div>		
        <div class="row">
        <form class="col s12" ng-submit="submitForm()">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate" ng-model="user.name" required="">
                    <label for="icon_prefix">Name</label>
                </div>
            </div>
            <div class="card-panel teal lighten-3">
              <h6> <b> <font size="5"> Dietary Requirements </font> </b> </h6>
            </div>
            <p>1. Do you have any special requirement?</p>
            <div class = "row">
                <div class="col s6 m3">
                    <input type="checkbox" id="noreq" ng-model="user.hasNoReq" ng-disabled="user.kosher || user.vegetarian || user.halal" />
                    <label for="noreq">None</label>
                </div>
                <div class="col s6 m3">
                    <input type="checkbox" id="vegetarian" ng-model="user.vegetarian" ng-disabled="user.hasNoReq" />
                    <label for="vegetarian">Vegetarian</label>
                </div>
                <div class="col s6 m3">
                    <input type="checkbox" id="halal" ng-model="user.halal" ng-disabled="user.hasNoReq" />
                    <label for="halal">Halal</label>
                </div>
                <div class="col s6 m3">
                    <input type="checkbox" id="kosher" ng-model="user.kosher" ng-disabled="user.hasNoReq" />
                    <label for="kosher">Kosher</label>
                </div>
            </div>
            <p>2. Do you have any food allergy?</p>
            <div class = "row">
                <div class="col s4 m2">
                    <input type="checkbox" id="noallergy" ng-model="user.hasNoAllergy" ng-disabled="user.gluten || user.egg || user.gluten || user.seafood || user.peanut"/>
                    <label for="noallergy">None</label>
                </div>
                <div class="col s4 m2">
                    <input type="checkbox" id="gluten" ng-model="user.gluten" ng-disabled="user.hasNoAllergy" />
                    <label for="gluten">Gluten</label>
                </div>
                <div class="col s4 m2">
                    <input type="checkbox" id="egg" ng-model="user.egg" ng-disabled="user.hasNoAllergy" />
                    <label for="egg">Egg</label>
                </div>
                <div class="col s4 m2">
                    <input type="checkbox" id="seafood" ng-model="user.seafood" ng-disabled="user.hasNoAllergy" />
                    <label for="seafood">Seafood</label>
                </div>
                <div class="col s4 m2">
                    <input type="checkbox" id="peanut" ng-model="user.peanut" ng-disabled="user.hasNoAllergy" />
                    <label for="peanut">Peanut</label>
                </div>
            </div>
            <div class="card-panel teal lighten-3">
              <h6> <b> <font size="5"> Personality Questions </font> </b> </h6>
            </div>
            <p>3. {{user.name}}, we would love to know more about you. Where do you rather be right now?</p>
            <div class = "row">
                <div class="col s12 m6">
                  <div class="card">
                    <div class="card-image">
                      <img src="images/room.jpg">
                      <span class="card-title">Comfy Room</span>
                    </div>
                    <div class="card-action">
                      <input name="group1" ng-change="resetQ4()" type="radio" id="comfyRoom" ng-model="user.comfyRoom" ng-value="true" />
                      <label for="comfyRoom">Familiar, tried and tested things are the best!</label>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6">
                  <div class="card">
                    <div class="card-image">
                      <img src="images/sea.jpg">
                      <span class="card-title">Open Sea</span>
                    </div>
                    <div class="card-action">
                      <input name="group1" type="radio" id="sea" ng-init="user.comfyRoom=false" ng-model="user.comfyRoom" ng-change="resetQ4()" ng-value="false" />
                      <label for="sea">We got to try everything once in life!</label>
                    </div>
                  </div>
                </div>
            </div>
            <div id="4" ng-show="showQuestion == 4 || showQuestion == 5 || (showQuestion == -1 && previousQuestion != 3)">
              <p>4. Seems like we need a bit more information.  Choose all the activities that you would love to do!</p>
              <div class = "row">
                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img src="images/roller-coaster.jpg">
                      </div>
                      <div class="card-content">

                      </div>
                      <div class="card-action">
                        <input type="checkbox" ng-change="resetQ5()" ng-checked="activity" id="rollerCoaster" ng-model="user.rollerCoaster" ng-true-value="0.5" />
                        <label for="rollerCoaster">High Intensity Roller Coaster</label>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img src="images/movie.gif">
                      </div>
                      <div class="card-content">
                      </div>
                      <div class="card-action">
                         <input type="checkbox" ng-change="resetQ5()" ng-checked="activity" id="movie" ng-model="user.movie" ng-true-value="-0.1" />
                        <label for="movie">4D Attractions </label>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img src="images/skidiving.jpg">
                      </div>
                      <div class="card-content">
                      </div>
                      <div class="card-action">
                         <input type="checkbox" ng-change="resetQ5()" ng-checked="activity" id="diving" ng-model="user.diving" ng-true-value="0.8" />
                        <label for="diving">Sky Diving </label>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img src="images/music.jpg">
                      </div>
                      <div class="card-content">

                      </div>
                      <div class="card-action">
                         <input type="checkbox" ng-change="resetQ5()" ng-checked="activity" id="music" ng-model="user.music" ng-true-value="-0.5" />
                        <label for="music">Listening to Music </label>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img src="images/book.jpg">
                      </div>
                      <div class="card-content">

                      </div>
                      <div class="card-action">
                         <input ng-checked="activity" ng-change="resetQ5()" type="checkbox" id="book" ng-model="user.book" ng-true-value="-0.9" />
                        <label for="book">Reading </label>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img src="images/ice_skiing.jpg">
                      </div>
                      <div class="card-content">

                      </div>
                      <div class="card-action">
                         <input type="checkbox" ng-change="resetQ5()" ng-checked="activity" id="ski" ng-model="user.ski" ng-true-value="0.4" />
                        <label for="ski">Ice Skiing </label>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div id="5" ng-show="showQuestion == 5 || (showQuestion == -1 && (previousQuestion != 4 && previousQuestion != 3))">
              <p>5. Last question, which sentence describes you best? </p>
              <div class="row">
                <p>
                  <input ng-checked="personality" name="group2" type="radio" id="competitive" ng-model="user.personality" value="competitive" />
                  <label for="competitive">I am competitive </label>
                </p>
                <p>
                  <input ng-checked="personality" name="group2" type="radio" id="helpful" ng-model="user.personality" value="helpful" />
                  <label for="helpful">I love to help </label>
                </p>
                <p>
                  <input ng-checked="personality" name="group2" type="radio" id="eager" ng-model="user.personality" value="eager" />
                  <label for="eager">I am eager to get work done </label>
                </p>
              </div>
            </div>
            <div class="row">
                <button id="submitButton" class="offset-m4 col m3 offset-s2 s8 btn waves-effect waves-light" type="submit">Check Result
            </div>
        </form>
        </div>
        <div id="6">
          <h4 ng-show="showQuestion == -1 && result.length == 0">Sorry no food is available</h4>
          <h4 ng-show="showQuestion == -1 && result.length > 0">Awesome {{user.name}}, we have found something for you!</h4>
      		<div ng-show="showQuestion == -1 && result.length > 0">Remember, different stalls may prepare the food differently, so please check that the food meets your dietary requirements.  Bon appetit!
      		</div>
        </div>
        <div ng-repeat="food in result" class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s4">
                <img src="{{food.image}}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s8">
                <h4>
                  {{food.name}}
                  <span class="new badge blue" data-badge-caption="calories">{{food.calories}}</span>
                </h4>
                <span class="black-text">
                  {{food.write_up}}
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
          });
    </script>
    <script type="text/javascript">
        var postApp = angular.module('postApp', []);
        postApp.controller('postController', function($scope, $http, $location, $anchorScroll) {
            $scope.user = {};
            $scope.showResult = false;
            $scope.showQuestion = 3;
            $scope.previousQuestion = 3;
            $scope.FirstTime = true;
            $scope.resetQ4 = function () {
              delete $scope.user.diving;
              delete $scope.user.movie;
              delete $scope.user.rollerCoaster;
              delete $scope.user.ski;
              delete $scope.user.book;
              delete $scope.user.personality;
              $scope.activity = false;
              $scope.showQuestion = 3;
              $scope.previousQuestion = 3;
            };
            $scope.resetQ5 = function () {
              delete $scope.user.personality;
              $scope.personality = false;
              $scope.showQuestion = 4;
              $scope.previousQuestion = 3;
            };
            $scope.submitForm = function() {
                $scope.showResult = false;
                $http({
                  method  : 'POST',
                  url     : 'http://52.221.79.182:1234/recommend',
                  // url     : 'http://localhost:8000/recommend',
                  data    : $scope.user,
                  headers : { 'Content-Type': 'application/json' }
                 })
                  .success(function(data) {
                    $scope.result = data.recommended_food;
                    if ($scope.showQuestion != -1){
                      $scope.previousQuestion = $scope.showQuestion;
                    }
                    $scope.showQuestion = data.show_question;
                    $scope.FirstTime = false;
                    $location.hash($scope.showQuestion);
                    if ($scope.result.length > 0){
                      $location.hash("6");
                    }
                    $anchorScroll();
                  });
            };
        });
    </script>
</body>
</html>
